{% extends "wuliu/_layout.html" %}
{% load static %}
{% load wuliu_extras %}
{% block title %}Customer Score Change{% endblock %}
{% block header_title %}Add Customer Score Change Record{% endblock %}
{% block content %}
    <form action="{% url 'wuliu:add_customer_score_log' %}" class="form col-12" method="post">
            <fieldset>
                    {% csrf_token %}
                    <div class="row">
                            {% show_form_input_field form.customer "" "col-md-6" %}
                            {% show_form_input_field form.inc_or_dec "Change Type" "col-6 col-md-3" %}
                            {% show_form_input_field form.score "" "col-6 col-md-3" %}
                            {% show_form_input_field form.remark "" "col-12 mb-2" %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
    </form>
{% endblock %}