{% extends "wuliu/_layout.html" %}
{% load wuliu_extras %}
{% block title %}Customer Points Records{% endblock %}
{% block header_title %}Customer Points Records{% endblock %}
{% block header_subtitle %}Query the points change records of member customers, or manually add or subtract points. Click the customer name in the query results to view the customer's current points.{% endblock %}
          {% block content %}
            <form action="{% url 'wuliu:manage_customer_score' %}" id="form-search_customer_score_log" class="form col-12 mb-2" method="post">
                <fieldset>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10 mb-2">
                            <div class="row">
                                {% show_form_input_field form.customer_name "" "col-6 col-md-3" %}
                                {% show_form_input_field form.customer_phone "" "col-6 col-md-3" %}
                                {% show_form_input_field form.create_date_start "" "col-6 col-md-3" %}
                                {% show_form_input_field form.create_date_end "" "col-6 col-md-3" %}
                            </div>
                        </div>
                        <div class="col-md child-flex child-flex-xc child-flex-yc pt-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"> Search</i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="col-12 mb-2">
              {% if "customer_score_log__add"|is_logged_user_has_perm:request %}
                <a href="{% url 'wuliu:add_customer_score_log' %}" class="btn btn-outline-primary btn-sm">
                    <i class="ri-c ri-edit-2-line"><span>Change Points</span></i>
                </a>
              {% endif %}
            </div>
            <div class="col-12">
                {% show_customer_score_log_table customer_score_logs "customer_score_logs" %}
            </div>
          {% endblock %}